.main_btn{
    background-color: $main_color;
    border: 1px solid $main_color;
    border-radius: 0;
    padding: 5px 32px;
    color:#f6f6f6;
    @extend %main_transition;
    &:hover{
        background-color:rgba(51, 51, 51, 0);
        border-color: $main_color;
    }
}