%bg_white{
    background-color: #f6f6f6;
}
%h3_main{
    font-size: 23px;
    color: #6d6d6d;
    font-weight: 400;
    margin-top: 4px;
    font-family: none;
}
%p_main{
    font-size: 14px;
    color: #9d9b9b;
}
%main_transition{
    transition: all .4s ease-in-out;
}
%stude_box{
    @extend %bg_white;
    padding: 13px;
    h3{
        @extend %h3_main; 
    }
    .box{
        position: relative;
        overflow: hidden;
        height: 207px;
        &:hover{
            .body_gall{
                top: 166px;
            }
        }
        .img_gall{
            position: absolute;
            height: 258px;
            width: 100%;
        }
        .body_gall{
            position: absolute;
            top: 270px;
            padding: 10px;
            background-color: #1d1d1dab;
            width: 100%;
            color: #dcd7d7;
            font-size: 14px;
            @extend %main_transition;
        }
    }
}.progress-bar{
    background-color: $main_color;
}
.d_none{
    display: none;
}
.main_margin_box{
    margin-bottom:20px;
}.min_height{
    min-height:247px;
}
.res_padding{
    padding:0
}
.ul_display_inline{
    li{
        display: inline-block;
    }
}
%tool_boxes{
    margin:2px auto;
    margin-top: 44px;
    li{
        display: inline-block;
        background-color: $main_color;
        border: 1px solid $main_color;
        height: 40px;
        width: 40px;
        @extend %main_transition;
        a{
            line-height: 39px;
            padding: 0px;
            margin: 0 7px;
            color: #e9e9e9;
            @extend %main_transition;
        }
        &:hover{
            background-color: #fff;
            border: 1px solid $main_color;
            
            a{
                color: $main_color;
            }
        }
    }
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.form-group{
    input{
        width:100%
    }
}
.x{
    min-height:300px;
    position: absolute;
    width:98%;
}

%forms{
    .form-control{
        margin-bottom: 28px;
        width: 100%;
        border-radius: 0;
        font-size: 17px;
        font-weight: 100;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: $main_color;
            box-shadow: none;
        }  
    }
    
}

// my_img
