.content_all .content_boxes #contact .background_me, .content_all .content_boxes #contact .form_con, .content_all .content_boxes #gallery, .content_all .content_boxes #about .background_me, .content_all .content_boxes #about .learn_me, .content_all .content_boxes #gallery .studio_box, .content_all .content_boxes #about .studio_box, .content_all .content_boxes #about .skills_me {
  background-color: #f6f6f6;
}

.content_all .content_boxes #contact .background_me h3, .content_all .content_boxes #contact .form_con h3, .content_all .content_boxes #gallery h3, .content_all .content_boxes #about .background_me h3, .content_all .content_boxes #about .learn_me h3, .content_all .content_boxes #gallery .studio_box h3, .content_all .content_boxes #about .studio_box h3, .content_all .content_boxes #about .skills_me h3 {
  font-size: 23px;
  color: #6d6d6d;
  font-weight: 400;
  margin-top: 4px;
  font-family: none;
}

.content_all .content_boxes #contact .background_me p, .content_all .content_boxes #contact .form_con p, .content_all .content_boxes #about .background_me p, .content_all .content_boxes #about .learn_me p {
  font-size: 14px;
  color: #9d9b9b;
}

.content_all .main_menu li a, .bg-light .navbar-nav .nav-link, .main_btn, .content_all .content_boxes #contact .background_me ul li a, .content_all .content_boxes #gallery .project-pages ul li a, .content_all .content_boxes #about .background_me ul li a, .content_all .content_boxes #contact .background_me ul li, .content_all .content_boxes #gallery .project-pages ul li, .content_all .content_boxes #about .background_me ul li, .content_all .content_boxes #gallery .studio_box .box .body_gall, .content_all .content_boxes #about .studio_box .box .body_gall, .content_all .content_boxes #about .skills_me .box .body_gall {
  transition: all 0.4s ease-in-out;
}

.content_all .content_boxes #gallery .studio_box, .content_all .content_boxes #about .studio_box, .content_all .content_boxes #about .skills_me {
  padding: 13px;
}
.content_all .content_boxes #gallery .studio_box .box, .content_all .content_boxes #about .studio_box .box, .content_all .content_boxes #about .skills_me .box {
  position: relative;
  overflow: hidden;
  height: 207px;
}
.content_all .content_boxes #gallery .studio_box .box:hover .body_gall, .content_all .content_boxes #about .studio_box .box:hover .body_gall, .content_all .content_boxes #about .skills_me .box:hover .body_gall {
  top: 166px;
}
.content_all .content_boxes #gallery .studio_box .box .img_gall, .content_all .content_boxes #about .studio_box .box .img_gall, .content_all .content_boxes #about .skills_me .box .img_gall {
  position: absolute;
  height: 258px;
  width: 100%;
}
.content_all .content_boxes #gallery .studio_box .box .body_gall, .content_all .content_boxes #about .studio_box .box .body_gall, .content_all .content_boxes #about .skills_me .box .body_gall {
  position: absolute;
  top: 270px;
  padding: 10px;
  background-color: #1d1d1dab;
  width: 100%;
  color: #dcd7d7;
  font-size: 14px;
}

.progress-bar {
  background-color: #0CC;
}

.d_none {
  display: none;
}

.main_margin_box {
  margin-bottom: 20px;
}

.min_height {
  min-height: 247px;
}

.res_padding {
  padding: 0;
}

.ul_display_inline li {
  display: inline-block;
}

.content_all .content_boxes #contact .background_me ul, .content_all .content_boxes #gallery .project-pages ul, .content_all .content_boxes #about .background_me ul {
  margin: 2px auto;
  margin-top: 44px;
}
.content_all .content_boxes #contact .background_me ul li, .content_all .content_boxes #gallery .project-pages ul li, .content_all .content_boxes #about .background_me ul li {
  display: inline-block;
  background-color: #0CC;
  border: 1px solid #0CC;
  height: 40px;
  width: 40px;
}
.content_all .content_boxes #contact .background_me ul li a, .content_all .content_boxes #gallery .project-pages ul li a, .content_all .content_boxes #about .background_me ul li a {
  line-height: 39px;
  padding: 0px;
  margin: 0 7px;
  color: #e9e9e9;
}
.content_all .content_boxes #contact .background_me ul li:hover, .content_all .content_boxes #gallery .project-pages ul li:hover, .content_all .content_boxes #about .background_me ul li:hover {
  background-color: #fff;
  border: 1px solid #0CC;
}
.content_all .content_boxes #contact .background_me ul li:hover a, .content_all .content_boxes #gallery .project-pages ul li:hover a, .content_all .content_boxes #about .background_me ul li:hover a {
  color: #0CC;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.form-group input {
  width: 100%;
}

.x {
  min-height: 300px;
  position: absolute;
  width: 98%;
}

.content_all .content_boxes #contact .form_con form .form-control, .content_all .content_boxes #home .box_form .form-control {
  margin-bottom: 28px;
  width: 100%;
  border-radius: 0;
  font-size: 17px;
  font-weight: 100;
}
.content_all .content_boxes #contact .form_con form .form-control:focus, .content_all .content_boxes #home .box_form .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #0CC;
  box-shadow: none;
}

.main_btn {
  background-color: #0CC;
  border: 1px solid #0CC;
  border-radius: 0;
  padding: 5px 32px;
  color: #f6f6f6;
}
.main_btn:hover {
  background-color: rgba(51, 51, 51, 0);
  border-color: #0CC;
}

.bg-light {
  background-color: #1a1a1a !important;
}
.bg-light .navbar-nav .nav-link {
  color: #0CC;
}
.bg-light .navbar-nav .nav-link:focus, .bg-light .navbar-nav .nav-link:hover {
  color: #059f9f;
}

body {
  overflow: hidden;
}
@media (max-width: 951px) {
  body {
    overflow: scroll;
  }
}

.content_all {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
@media (max-width: 738px) {
  .content_all {
    overflow: scroll;
  }
}
.content_all .main_menu {
  margin-top: 60px;
}
@media (max-width: 738px) {
  .content_all .main_menu {
    display: none;
  }
}
.content_all .main_menu li a {
  display: block;
  margin: 20px auto;
  padding: 88px 0;
  padding-top: 39px;
  width: 100%;
  height: 150px;
  background-color: #333333d6;
  text-align: center;
  align-items: center;
}
.content_all .main_menu li a:hover {
  background-color: #1b1b1b;
}
.content_all .main_menu li a span {
  color: #0CC;
  display: block;
}
.content_all .content_boxes {
  padding: 109px 0;
}
.content_all .content_boxes #home {
  margin: 67px 0;
}
.content_all .content_boxes #home .box_img img {
  width: 70px;
  height: 70px;
  border-radius: 2px;
}
.content_all .content_boxes #home .box_title {
  color: #fbfbfb;
  margin: 22px auto;
}
.content_all .content_boxes #home .box_content {
  font-size: 15px;
  margin: 27px auto;
  color: #f5f5f5;
}
.content_all .content_boxes #home .box_form {
  margin: 22px auto;
}
.content_all .content_boxes #home .box_form .col {
  padding: 0;
}
.content_all .content_boxes #home .box_form button {
  display: block;
  height: 43px;
  border-radius: 1px;
  padding: 1px 16px;
}
.content_all .content_boxes #about .learn_me {
  padding: 13px;
}
.content_all .content_boxes #about .learn_me .image_me {
  width: 100%;
  overflow: hidden;
}
.content_all .content_boxes #about .learn_me .image_me img {
  width: 100%;
}
.content_all .content_boxes #about .learn_me h4 {
  margin-bottom: 0;
  color: #868686;
  font-size: 24px;
  font-weight: 400;
  font-family: emoji;
}
.content_all .content_boxes #about .learn_me span {
  font-size: 15px;
  margin-bottom: 14px;
  color: #ccc;
}
.content_all .content_boxes #about .background_me {
  padding: 13px;
}
.content_all .content_boxes #about .skills_me .progress {
  margin-bottom: 1px;
}
.content_all .content_boxes #about .skills_me span {
  font-size: 16px;
  color: #868686;
}
.content_all .content_boxes #gallery {
  margin: 22px auto;
  padding: 11px 20px;
}
.content_all .content_boxes #gallery .studio_box .box, .content_all .content_boxes #gallery #about .skills_me .box, .content_all .content_boxes #about #gallery .skills_me .box {
  height: 168px;
}
.content_all .content_boxes #gallery .studio_box .box img, .content_all .content_boxes #gallery #about .skills_me .box img, .content_all .content_boxes #about #gallery .skills_me .box img {
  height: 168px;
}
.content_all .content_boxes #gallery .studio_box .box .body_gall, .content_all .content_boxes #gallery #about .skills_me .box .body_gall, .content_all .content_boxes #about #gallery .skills_me .box .body_gall {
  top: 171px;
}
.content_all .content_boxes #gallery .studio_box .box:hover .body_gall, .content_all .content_boxes #gallery #about .skills_me .box:hover .body_gall, .content_all .content_boxes #about #gallery .skills_me .box:hover .body_gall {
  top: 127px;
}
.content_all .content_boxes #gallery .project-pages ul {
  margin-top: 12px;
}
.content_all .content_boxes #gallery .project-pages ul li {
  text-align: center;
}
.content_all .content_boxes #gallery .project-pages ul li:hover {
  background-color: #0CC;
}
.content_all .content_boxes #contact .form_con {
  padding: 13px;
}
.content_all .content_boxes #contact .form_con .image_me {
  width: 100%;
  overflow: hidden;
}
.content_all .content_boxes #contact .form_con .image_me img {
  width: 100%;
}
.content_all .content_boxes #contact .form_con h4 {
  margin-bottom: 0;
  color: #868686;
  font-size: 24px;
  font-weight: 400;
}
.content_all .content_boxes #contact .form_con span {
  font-size: 15px;
  margin-bottom: 22px;
}
.content_all .content_boxes #contact .form_con form {
  margin: 32px 0;
}
.content_all .content_boxes #contact .background_me {
  padding: 13px;
}
.footer {
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer p {
  margin-bottom: 0;
  padding: 20px 0;
  color: #d4d3d3;
  font-size: 17px;
}

/*# sourceMappingURL=homepage.css.map */
