body{
    overflow: hidden;
    @media(max-width:951px){
        overflow: scroll;
    }
}
.content_all{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    @media(max-width:738px){
        overflow: scroll;
    }
    .main_menu{
        margin-top:60px;
        @media(max-width:738px){
            display: none;
        }
        li{
            a{
                display: block;
                margin: 20px auto;
                padding: 88px 0;
                padding-top: 39px;
                width: 100%;
                height: 150px;
                background-color: #333333d6;
                text-align: center;
                align-items: center;
                @extend %main_transition;
                &:hover{
                    background-color: rgb(27, 27, 27);
                }
                span{
                    color:$main_color;
                    display: block;
                }
            }
        }
    }
    // #############
    .content_boxes{
        padding: 109px 0;
        #home{
            margin: 67px 0;
            .box_img{
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 2px;;
                }
            }
            .box_title{
                color: #fbfbfb;
                margin:22px auto;
            }
            .box_content{
                font-size: 15px;
                margin: 27px auto;
                color: #f5f5f5;
            }
            .box_form{
                @extend %forms;
                margin:22px auto;
                .col{
                    padding: 0;
                }
                .form-control{
                    //margin-bottom: 28px;
                    //margin-top: 14px;
                }
                
                button{
                    display: block;
                    height: 43px;
                    border-radius: 1px;
                    padding: 1px 16px;
                }
            }
        }  //End Home box 
        #about{
            .learn_me{
                @extend %bg_white;
                padding: 13px;
                .image_me{
                    width:100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                h3{
                    @extend %h3_main;
                }
                h4{
                    margin-bottom: 0;
                    color: #868686;
                    font-size: 24px;
                    font-weight: 400;
                    font-family: emoji;
                }
                span{
                    font-size: 15px;
                    margin-bottom: 14px;
                    color: #ccc;
                }
                p{
                    @extend %p_main;
                }
            }
            .background_me{
                @extend %bg_white;
                padding: 13px;
                h3{
                    @extend %h3_main;
                }
                p{
                    @extend %p_main;
                }
                ul{
                    @extend %tool_boxes;
                }
            }
            .studio_box{
                @extend %stude_box;
            }
            .skills_me{
                @extend .studio_box;
                .progress{
                    margin-bottom: 1px;
                }
                span{
                    font-size: 16px;
                    color: #868686;
                }
            }
        }
        #gallery{
            @extend %bg_white;
            margin:22px auto;
            padding: 11px 20px;
            
            h3{
                @extend %h3_main;
            }
            .studio_box{
                @extend %stude_box;
                .box{
                    height: 168px;
                    img{
                        height: 168px;
                    }
                    .body_gall{
                        top: 171px;
                    }
                    &:hover{
                        .body_gall{
                            top: 127px;
                        }   
                    }
                    
                }
            }
            .project-pages{
                ul{
                    @extend %tool_boxes;
                    margin-top: 12px;
                    li{
                        text-align: center;
                        @extend %main_transition;
                        &:hover{
                            background-color: $main_color;
                        }
                    }
                }
            }
        }//End #Gallery
        #contact{
            .form_con{
                @extend %bg_white;
                padding: 13px;
                .image_me{
                    width:100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                h3{
                    @extend %h3_main;
                }
                h4{
                    margin-bottom: 0;
                    color: #868686;
                    font-size: 24px;
                    font-weight: 400;
                }
                span{
                    font-size: 15px;
                    margin-bottom: 22px;
                }
                p{
                    @extend %p_main;
                }
                form{
                    margin: 32px 0;
                    @extend %forms;
                }
            }
            .background_me{
                @extend %bg_white;
                padding: 13px;
                h3{
                    @extend %h3_main;
                }
                p{
                    @extend %p_main;
                }
                ul{
                    @extend %tool_boxes;
                }
            }
        }
    }
    
}