.footer{
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    p{
        margin-bottom: 0;
        padding:20px 0;
        color: #d4d3d3;
        font-size: 17px;
    
    }
}