.bg-light {
    background-color: #1a1a1a!important;
    .navbar-nav .nav-link {
        color:$main_color ;
        @extend %main_transition;
        &:focus ,&:hover {
            color: rgb(5 159 159);
        }
    }
}